@model FalcockDownloaderWebSite.Models.RequestInfo;
<html>
<head>
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>

    <div class="row">
            <div class="car card-body mt-4">



                @*<form action="/Home/Salvar" method="post">*@
                @using (Html.BeginForm("Salvar", "Home", FormMethod.Post))
                {

                    @Html.TextBoxFor(Model => Model.URL, new {placeholder="Coloque a URL aqui", min="1", @class="form-control", value="@Model.URL", })
                    <br />
                    <div class="radio">
                        @Html.RadioButtonFor(model => model.Format, 0, new{@class="radio__input", @id="mp3"})
                        <label for="mp3" class="radio__label">Mp3</label>


                        @Html.RadioButtonFor(model => model.Format, 1, new {@class="radio__input", @id="mp4"})
                        <label for="mp4" class="radio__label">Mp4</label>
                    </div>

                    <div>

                        

                    </div>

                    <br />
                    <br />
                    <button id="btn" type="submit" class="btn btn-success">Download</button>
                }
                @*</form>*@
            </div>

    </div>
</body>
</html>
