@model FalcockDownloaderWebSite.Models.RequestInfo;
@{
    ViewData["Title"] = "Falcock Downloader";
    //Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>

    <div class="row">
        <div class="car card-body mt-4">



            @*<form action="/Home/Salvar" method="post">*@
            @using (Html.BeginForm("SalvarTT", "Home", FormMethod.Post))
            {

                @Html.TextBoxFor(Model => Model.URL, new {placeholder="Coloque a URL aqui", min="1", @class="form-control", value="@Model.URL", })

                <br />
                <br />
                <div class="VideoId">
                    @Html.Raw(ViewBag.EmbedCode)
                </div>
                <br />

                <br />
                <button id="btn-download" type="submit" class="btn btn-success">Download</button>
                <br />
                <br />
            }
            @*</form>*@
        </div>

    </div>
</body>
<script>


</script>

</html>
